DOLI_TAG=18
DOLI_PORT=9000
		

DOLI_INSTALL_AUTO=1
DOLI_PROD=1
DOLI_DB_TYPE=mysqli
DOLI_DB_HOST=dolibarr-db
DOLI_DB_USER=root
DOLI_DB_PASSWORD=toor
DOLI_DB_NAME=dolibarr
DOLI_URL_ROOT=http://0.0.0.0
DOLI_ADMIN_LOGIN=root
DOLI_ADMIN_PASSWORD=root
PHP_INI_DATE_TIMEZONE=Europe/Paris

DOLI_DATA_DOCUMENTS=/server/dolibarr/documents
DOLI_DATA_CUSTOM=/server/dolibarr/custom